In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import missingno as msno
import os
from os import listdir
from os.path import isfile, join

In [10]:
# get all files' name
mypath = './data'
allfiles = [f for f in listdir(mypath) if isfile(join(mypath, f))]

In [16]:
# print first 5 files' name
print(allfiles[0:5])

['tas_timeseries_annual_cru_1901-2020_ABW.csv', 'tas_timeseries_annual_cru_1901-2020_AFG.csv', 'tas_timeseries_annual_cru_1901-2020_AGO.csv', 'tas_timeseries_annual_cru_1901-2020_AIA.csv', 'tas_timeseries_annual_cru_1901-2020_ALB.csv']

In [27]:
# print country codes of allfiles[0]
print(allfiles[0][-7:-4])

ABW

In [33]:
# visualize Aruba dataset
df = pd.read_csv('./data/'+str(allfiles[0]), skiprows=[0]) # skip first row
df.rename(columns={'Unnamed: 0':'Year'}, inplace=True)
# df.head(3)

df.iloc[:,0:2]

     Year  Jamaica
0    1901    23.87
1    1902    24.15
2    1903    24.09
3    1904    24.04
4    1905    24.31
..    ...      ...
115  2016    25.32
116  2017    25.20
117  2018    25.19
118  2019    25.38
119  2020    25.39

[120 rows x 2 columns]

     Year  Aruba
0    1901  27.60
1    1902  27.17
2    1903  27.27
3    1904  27.00
4    1905  27.05
..    ...    ...
115  2016  29.17
116  2017  28.68
117  2018  28.38
118  2019  28.75
119  2020  28.76

[120 rows x 2 columns]